/* Color scheme and fonts */
:root {
    --white: #ffffff;
    --light-beige: rgb(253, 239, 230);
    --brown: rgb(186, 147, 111);
    --dark-grey: #343434;
    --title-font: Kanit;
    --text-font: DM Sans;
}

    * {
        box-sizing: border-box;
        margin: 0;
        font-size: 16px;
        font-family: var(--text-font);
        scroll-behavior: smooth;
    }

    header {
        width: 100%;
        height: 100vh;
    }
    
    nav {
        position: sticky;
        top: 0;
        z-index: 1000;
        display: flex;
        padding: 10px 10px 10px 10px;
        background-color: white;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        /* background-color: peachpuff; */
    }

    .logomobile {
        display: inherit;
        /* background-color: pink; */
    }

    .logomobile img {
        width: 50px;
        height: 50px;
    }

    .menu {
        /* list-style: none; */
        border: none;
        background: none;
        display: inline-flex;
        align-items: center;
        overflow: hidden;
        font-weight: bold;
        color: var(--brown);
        left: 0;
        font-family: var(--title-font);
        font-size: 15px;
        letter-spacing: 4px;
    }

    .overlaynav {
        display: flex;
        flex-direction: column;
        height: 93.5%;
        width: 100%;
        justify-content: space-evenly;
        text-align: center;
        position: fixed;
        z-index: 11;
        top: 6.5%;
        right: 0%;
        background-color: rgba(186, 147, 111);
        overflow-x: hidden;
        transition: 0.5s;
        font-family: var(--title-font);
    }

    .overlaynav a {
        text-decoration: none;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 4px;
        color: var(--light-beige);
    }

    .darkmodemobile {
        font-size: 50px;
        color: var(--light-beige);
    }

    .hero-container {
        position: relative;
        z-index: 0;
        width: 100%;
        height: 261px;
        margin-top: 30px;
        background-color: var(--light-beige);
    }

    .hero-box {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 198px;
        top: 10px;
        background-color: var(--brown);
    }

    .hero-hl {
        position: absolute;
        z-index: 2;
        border-bottom: 5px solid var(--light-beige);
        width: 100%;
        top: 20px;
    }

    .hero-vl {
        position: absolute;
        z-index: 2;
        border-left: 5px solid var(--light-beige);
        height: 100%;
        right: 50px;
    }

    .hero-content-container {
        position: relative;
        width: 80%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        /* background-color: yellow; */
    }

    .hero-portrait {
        position: relative;
        z-index: 3;
        top: 30px;
    }

    .hero-portrait img {
        width: 277px;
        height: 324px;
        border-bottom-left-radius: 40px;
        object-fit: cover;
        border-style: solid;
        border-width: 2px;
        border-color: var(--brown);
        box-shadow: 0px 16px 15px -10px rgb(0, 0, 0, 35%);
    }

    .mobile-hi {
        margin-top: 200px;
        text-align: center;
        font-weight: 150;
        font-size: 32px;
        color: var(--dark-grey);

    }

    .mobile-name {
        text-align: center;
        font-weight: bold;
        font-size: 48px;
        color: var(--brown);
        margin-bottom: 100px;
    }

    .arrowholder {
        width: 100%;
        text-align: center;
    }
    
    .arrow {
        font-size: 0;
        border: solid var(--dark-grey);
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 8px;
        transform: rotate (45deg);
        -webkit-transform: rotate(45deg);
        animation: jumpInfinite 1.5s infinite;
    }

    @keyframes jumpInfinite {
        0% {margin-top: 0;}
        50% {margin-top: 20px;}
        100% {margin-top: 0;}
    }

    main {
        padding: 50px;
        padding-top: 100px;
    }

    h3 {
        font-size: 25px;
        font-weight: 500;
        color: var(--brown);
        padding-bottom: 40px;
    }

    p {
        color: var(--dark-grey);
        padding-bottom: 40px;
    }

    .mobilebutton {
        text-align: center;     
        padding-bottom: 100px;
    }

    button {
        font-family: var(--title-font);
        font-weight: 600;
        font-size: 16px;
        color: var(--brown);
        background-color: var(--light-beige);
        border: 2px solid var(--brown);
        padding: 10px 15px 10px 15px;
        border-radius: 10px;
    }

    .gallery-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* background-color: pink; */

    }

    .gallery {
        margin: 25px;
        width: 50%;
        min-width: 250px;
        /* background-color: yellow; */
    }

    .gallery img {
        width: 100%;
        height: auto;
        border: 2px solid var(--brown);
        border-radius: 10px;
    }

    .titleholder {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    
    .title {
        color: var(--brown);
        padding: 3px 0px 2px 0px;
        font-family: var(--title-font);
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: 600;
    }

    .desc {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5px;
        text-align: center;
        width: 100%;
    }
    
    .tag {
        color: var(--dark-grey);
        background-color: var(--light-beige);
        padding: 6px;
        margin: 3px;
        border-radius: 5px;
        font-family: var(--title-font);
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: 400;
    }

    footer {
        position: relative;
        bottom: 0;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        background-color: var(--white);
        width: 100%;
        /* background-color: yellow; */
    }

    footer p {
        font-size: 12px;
        padding: 0px;
    }

    .footer-left {
        position: relative;
        display: inline-block;
        flex-direction: column;
        margin: 0px;
        padding: 10px;
        /* background-color: pink; */
    }

    .highlight {
        font-weight: bold;
    }

    .highlight a:link {
        text-decoration: none;
        font-size: 13px;
        color: var(--brown);
    }

    .highlight a:visited {
        color: var(--dark-grey);
    }

    footer div img {
        width: 50px;
        height: 50px;
    }

    .footer-copyright {
        position: relative;
        font-size: 10px;
        padding: 0;
        padding-bottom: 10px;
    }

    /* Desktop CSS */
    .logo {
        display: none;
    }

    nav ul {
        display: none;
    }

    .darkmode {
        display: none;
    }

    .hero-title-container {
        display: none;
    }