:root {
    --white: #ffffff;
    --light-beige: rgb(253, 239, 230);
    --brown: #BA936F;
    --dark-grey: #343434;
    --dark-brown: #342A21;
    --dark-darkbrown: #2d241c;
    --title-font: Kanit;
    --text-font: DM Sans;
}


.switchmode {
    nav {
        background-image: linear-gradient(230deg, var(--dark-darkbrown) 85%, var(--white) calc(85% + 2px)); 
    }

    nav li a {
        color: var(--white);
    }
    
    nav li a:hover {
        color: var(--brown);
        border-bottom: 2px solid var(--brown);
        
    }

    .darkmode {
        color: var(--white);
    }
    
    .darkmode:hover {
        color: #BA936F;
        transition: color 0.4s ease;
    }

    .hero-container {
        background-color: var(--dark-brown);
    }

    .hero-box {
        background-color: var(--dark-darkbrown);
    }

    .hero-hl, .hero-vl, .hero-hl2, .hero-aboutline, .hero-meline {
        display: none;
    }

    .hero-title-container {
        color: var(--brown);

    }
    
    .hero-about-container {
        color: var(--light-beige);
    }
    
    .hero-me-container {
        color: var(--light-beige);
    }
    
    .hero-me-backbox {
        outline: none;
        background-color: var(--dark-darkbrown);
    }
    
    .hero-me-box {
        border: 8px solid var(--dark-darkbrown);
        outline: 1px solid var(--dark-darkbrown);
        background-color: var(--white);
        color: var(--dark-darkbrown);
    }
    
    header h2 {
        color: var(--brown);
        background-color: var(--dark-brown);
    }
    
    .headersymbol {
        font-size: 30px;
    }
    
    header p {
        color: var(--white);
        background-color: var(--dark-brown);
    
    }

    main {
        background: var(--dark-darkbrown);
    }
    
    .section1 {
        border-color: var(--dark-brown);
        background-color: var(--dark-darkbrown);
    }
    
    .section1-container {
        background-color: var(--dark-darkbrown);
    }
    
    h3 {
        color: var(--brown);
    }
    
    p {
        color: var(--white);
    }

    .section2 {
        border-color: var(--dark-brown);
    }
    
    button {
        color: var(--light-beige);
        background-color: var(--brown);
        border: 2px solid var(--dark-brown);

    }
    
    button:hover {
        color: var(--brown);
        background-color: var(--light-beige);
        transition: color 0.1s ease;
    }
    
    footer {
        border-top: 2px solid var(--dark-brown);
        background-image: linear-gradient(130deg, var(--dark-darkbrown) 80%, var(--white) calc(80% + 2px)); 

    }

    footer p {
        color: var(--white);
    
    }
    
    .highlight a:link {
        color: var(--light-beige);
    }
    
    .highlight a:visited {
        color: var(--brown);
    }
    
    .highlight a:hover {
        color: var(--brown);
        transition: color 0.4s ease;
    }

    .footer-copyright {
        color: var(--dark-darkbrown);
    }
    
    /* Mobile CSS */
    .logomobile, .menu, .contact, .overlaynav, .mobile-hi, .mobile-name, .arrow {
        display: none;
    }
    
}