/* Mobile */

:root {
    --white: #ffffff;
    --light-beige: rgb(253, 239, 230);
    --brown: #BA936F;
    --dark-grey: #343434;
    --dark-brown: #342A21;
    --dark-darkbrown: #2d241c;
    --title-font: Kanit;
    --text-font: DM Sans;
}

.switchmode {
    .menu {
        border: none;
        background: none;
        color: var(--white);
    }

    .overlaynav {
        background-color: var(--dark-brown);
    }

    .overlaynav a {
        color: var(--white);
    }

    .darkmodemobile {
        color: var(--white);
    }

    button:hover {
        color: var(--white);
        background-color: var(--dark-darkbrown);
    }

    .hero-container {
        margin: 0;
        padding-top: 20px;
    }

    header {
        background: var(--dark-brown);
    }

    .arrow {
        border: solid var(--brown);
        border-width: 0 3px 3px 0;
    }

    main {
        background: var(--dark-darkbrown);
    }

    .section1-container {
        background-color: var(--dark-darkbrown);
    }

}