:root {
    --white: #ffffff;
    --light-beige: rgb(253, 239, 230);
    --brown: #BA936F;
    --dark-grey: #343434;
    --dark-brown: #342A21;
    --dark-darkbrown: #2d241c;
    --title-font: Kanit;
    --text-font: DM Sans;
}