:root {
    --white: #ffffff;
    --light-beige: rgb(253, 239, 230);
    --brown: #BA936F;
    --dark-grey: #343434;
    --dark-brown: rgb(52, 42, 33);
    --dark-darkbrown: rgb(45, 36, 28);
    --title-font: Kanit;
    --text-font: DM Sans;
}


.switchmode {
    /* HOME */
    nav {
        background-image: linear-gradient(230deg, var(--dark-darkbrown) 85%, var(--white) calc(85% + 2px)); 
    }

    nav li a {
        color: var(--white);
    }
    
    nav li a:hover {
        color: var(--brown);
        border-bottom: 2px solid var(--brown);
        
    }

    .darkmode {
        color: var(--white);
    }
    
    .darkmode:hover {
        color: #BA936F;
        transition: color 0.4s ease;
    }
    
    main {
        background: var(--dark-grey);
    }


    /* CHECK BELOW */

    .bg {
        background-image: none;
        background-color: var(--dark-brown);
    }

    .contact-form-container {
        background-color: var(--brown);
    }

    h1 {
        color: var(--light-beige);
    }

    form h2 {
        color: var(--light-beige);
    }

    .unshift-button, .push-button, .shift-button, .pop-button {
        color: var(--light-beige);
    }

    .unshift-button:hover, .push-button:hover {
        background-color: rgb(144, 207, 144);
        color: white;
        border-radius: 20%;
    }

    .shift-button:hover, .pop-button:hover {
        background-color: rgb(245, 145, 145);
        color: white;
        border-radius: 20%;
    }

    .clear-button {
        color: var(--light-beige);
        background-color: var(--brown);
    }

    .clear-button:hover {
        color: var(--dark-darkbrown);
        /* background-color: white; */
    }

    form ul li {
        color: var(--white);
        background-color: rgba(52, 42, 33, 0.6);
    }

    #moodBox {
        background-color: var(--brown);
    }

    .submit-button {
        color: var(--brown);
        background-color: var(--dark-darkbrown);
    }

    .submit-button:hover {
        color: var(--brown);
        background-color: var(--light-beige);
    }

    .socials a {
        color: var(--light-beige);
    }

    .socials a:hover {
        color: var(--white);
    }

    footer {
        border-top: 2px solid var(--dark-brown);
        background-image: linear-gradient(130deg, var(--dark-darkbrown) 80%, var(--white) calc(80% + 2px)); 

    }

    footer p {
        color: var(--white);
    
    }
    
    .highlight a:link {
        color: var(--light-beige);
    }
    
    .highlight a:visited {
        color: var(--brown);
    }
    
    .highlight a:hover {
        color: var(--brown);
        transition: color 0.4s ease;
    }

    .footer-copyright {
        color: var(--dark-grey);
    }
}