/* Mobile */

:root {
    --white: #ffffff;
    --light-beige: rgb(253, 239, 230);
    --brown: #BA936F;
    --dark-grey: #343434;
    --dark-brown: #342A21;
    --dark-darkbrown: #2d241c;
    --title-font: Kanit;
    --text-font: DM Sans;
}

/* Need to figure out why hover effect persists */

.switchmode {

    nav {
        background-color: var(--dark-darkbrown); 
        background-image: none;
    }

    .menu {
        border: none;
        background: none;
        color: var(--white);

    }

    .overlaynav {
        background-color: var(--dark-brown);
    }

    .overlaynav a {
        color: var(--white);
    }

    .darkmodemobile {
        color: var(--white);
    }

    .mobilebutton {
        text-align: center;     
        /* padding-bottom: 100px; */
    }

    button {
        color: var(--light-beige);
        background-color: var(--brown);
        border: 2px solid var(--dark-brown);

    }

   

    main {
        background: var(--dark-darkbrown);
    }

    .bg {
        background-image: none;
        background-color: var(--dark-brown);
        padding-top: 20px;
    }

    .contact-form-container {
        background-color: var(--dark-darkbrown);
    }

    h1 {
        color: var(--light-beige);
    }

    form h2 {
        color: var(--light-beige);
    }

    .unshift-button, .push-button, .shift-button, .pop-button {
        color: var(--light-beige);
    }

    .unshift-button, .push-button {
        background-color: rgb(144, 207, 144);
        color: white;
        border-radius: 20%;
    }

    .shift-button, .pop-button {
        background-color: rgb(245, 145, 145);
        color: white;
        border-radius: 20%;
    }

    .clear-button {
        color: var(--light-beige);
        background-color: var(--dark-brown);
    }


    form ul li {
        color: var(--white);
        background-color: rgba(186, 147, 111, 0.8);
    }

    #moodBox {
        background-color: var(--dark-brown);
    }

    .submit-button {
        color: var(--light-beige);
        background-color: var(--brown);
        border: solid var(--brown);
    }

    .socials a {
        color: var(--light-beige);
    }

    footer {
        border-top: 2px solid var(--dark-brown);
        background-image: none;
        background-color: var(--dark-darkbrown); 
        padding-top: 10px;
    }

    footer p {
        color: var(--white);
    
    }
    
    .highlight a:link {
        color: var(--light-beige);
    }
    
    .highlight a:visited {
        color: var(--brown);
    }

    time {
        font-size: 10px;
    }

}