/* Color scheme and fonts */
:root {
    --white: #ffffff;
    --light-beige: rgb(253, 239, 230);
    --brown: rgb(186, 147, 111);
    --dark-grey: rgb(52, 52, 52);
    --title-font: Kanit;
    --text-font: DM Sans;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-size: 14px;
    font-family: var(--text-font);
}


nav {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    padding: 10px 30px 10px 30px;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    /* background-color: peachpuff; */

}

.logo {
    display: inherit;
    cursor: pointer;
    /* background-color: pink; */
}

.logo img {
    width: 50px;
    height: 50px;
}

nav ul {
    list-style: none;
    overflow: hidden;
    cursor: pointer;
    padding: 0;
}

nav li {
    display: inline;
    margin-inline: 50px;
    font-weight: bold;
    font-family: var(--title-font);
    font-size: 30px;
    /* background-color: beige; */
}

nav li a {
    text-decoration: none;
    color: var(--brown);
    transition: color 0.4s ease;
}

nav li a:hover {
    color: var(--dark-grey);
    border-bottom: 2px solid var(--dark-grey);

}

.darkmode {
    font-size: 30px;
    font-weight: bolder;
    color: var(--brown);
    cursor: pointer;
    /* background-color: pink; */
}

.darkmode:hover {
    color: #343434;
    transition: color 0.4s ease;
}


.hero-container {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 261px;
    /* margin-top: 30px; */
    padding-top: 20px;
    background-color: var(--light-beige);
}

.hero-box {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 198px;
    top: 10px;
    background-color: var(--brown);
}

.hero-hl {
    position: absolute;
    z-index: 2;
    border-bottom: 5px solid var(--light-beige);
    width: 100%;
    top: 20px;
}

.hero-hl2 {
    position: absolute;
    z-index: 2;
    border-bottom: 5px solid var(--light-beige);
    width: 100%;
    bottom: 20px;
}

.hero-vl {
    position: absolute;
    z-index: 2;
    border-left: 5px solid var(--light-beige);
    height: 100%;
    right: 100px;
}

.hero-aboutline {
    position: absolute;
    display: flex;
    z-index: 2;
    border-bottom: 2px solid var(--light-beige);
    width: 100%;
    bottom: 75px;
}

.hero-meline {
    position: absolute;
    z-index: 4;
    border-bottom: 2px solid var(--brown);
    width: 100%;
    bottom: 46px;
}

.hero-content-container {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-about-container {
    position: absolute;
    display: flex;
    z-index: 3;
    flex: 50%;
    height: 156px;
    align-items: center;
    color: var(--light-beige);
    padding-right: 100px;
}

.hero-about-container h1 {
    font-weight: 150;
    font-size: 64px;
    font-family: var(--title-font);
}

.hero-me-container {
    position: absolute;
    display: flex;
    z-index: 3;
    flex: 100%;
    height: 156px;
    padding-left: 100px;
    align-items: center;
    color: var(--light-beige);
}

.hero-me-backbox {
    position: absolute;
    display: flex;
    z-index: 3;
    width: 110px;
    height: 198px;
    outline: 5px solid var(--light-beige);
    justify-content: center;
    align-items: center;
    background-color: var(--brown);
}

.hero-me-box {
    position: absolute;
    display: flex;
    right: 50px;
    z-index: 3;
    width: 121px;
    height: 156px;
    border: 8px solid var(--brown);
    outline: 1px solid var(--brown);
    justify-content: center;
    align-items: center;
    background-color: var(--light-beige);
    color: var(--brown);
    text-align: center;
    right: -5.5px;
}

.hero-me-container h1 {
    font-weight: 500;
    font-size: 64px;
    font-family: var(--title-font);
}

header h2 {
    text-align: center;
    font-weight: 400;
    font-family: var(--title-font);
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 3px;
    padding: 50px;
    padding-top: 0;
    padding-bottom: 0;
    color: var(--brown);
    background-color: var(--light-beige);
}

.headersymbol {
    font-size: 30px;
}

header p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    padding: 50px;
    padding-top: 0;
    padding-bottom: 50px;
    font-family: var(--title-font);
    color: var(--dark-grey);
    background-color: var(--light-beige);

}

main {
    display: grid;
    grid-template-columns: 50% 50%;
    column-rule: 2px solid var(--light-beige);
    align-items: center;
    background: var(--white);
    /* margin-top: 20px; */
}

.section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 80px 30px 80px 30px;
    border-style: solid;
    border-width: 2px 1px 0px 0px;
    border-color: var(--light-beige);
    text-align: center;
    background-color: var(--white);
    padding-left: 100px;
    padding-right: 100px;
}

.section1-container {
    width: 100%;
    height: auto;
    padding: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    background-color: var(--white);

}

h3 {
    font-size: 20px;
    font-weight: 500;
    color: var(--brown);
    padding-bottom: 40px;
}

p {
    color: var(--dark-grey);
    padding-bottom: 40px;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.slideshow-container {
    max-width: 500px;
    min-width: 340px;
    position: relative;
    margin: auto;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--brown);
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(253, 239, 230, 0.8);
}

.credit {
    color: var(--dark-grey);
    font-size: 10px;
    font-weight: 500;
    padding: 2px;
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
    background-color: rgba(253, 239, 230, 0.9);
}

.credit a {
    text-decoration: none;
    color: var(--brown);
    font-size: 10px;
}

.credit a:hover {
    color: var(--dark-grey);
    transition: color 0.4s ease;
}

.text {
    /* color: var(--white); */
    color: var(--dark-grey);
    font-size: 14px;
    font-weight: 600;
    padding: 15px 12px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: rgba(253, 239, 230, 0.9);
    /* background-color: rgba(186, 147, 111, 0.9); */
}

.numbertext {
    color: var(--light-beige);
    font-size: 10px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--light-beige);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: var(--brown);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.section2 {
    padding: 80px 30px 80px 30px;
    height: 100%;
    border-style: solid;
    border-width: 2px 0px 0px 1px;
    border-color: var(--light-beige);
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    /* background-color: yellow; */
}

button {
    font-family: var(--title-font);
    font-weight: bold;
    font-size: 12px;
    color: var(--brown);
    background-color: var(--light-beige);
    border: 2px solid var(--brown);
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    color: var(--light-beige);
    background-color: var(--brown);
    transition: color 0.1s ease;
}

footer {
    position: relative;
    bottom: 0;
    display: flex;
    background-color: var(--white);
    width: 100%;
    padding: 10px 30px 0px 30px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-top: 2px solid var(--light-beige);
    /* background-color: yellow; */
}

footer p {
    font-size: 10px;
    padding-bottom: 0;
}

footer div span {
    display: inline-block;
}

.footer-left {
    position: relative;
    display: inline-block;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    align-items: start;
    text-align: start;
    justify-content: center;
    height: 40px;
    /* background-color: pink; */
}

.highlight {
    font-weight: bold;
}

.highlight a:link {
    text-decoration: none;
    font-size: 11px;
    color: var(--brown);
}

.highlight a:visited {
    color: var(--dark-grey);
}

.highlight a:hover {
    color: var(--dark-grey);
    transition: color 0.4s ease;
}

footer div {
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer div img {
    width: 50px;
    height: 50px;
}

.footer-copyright {
    position: relative;
    font-size: 8px;
    bottom: 5px;
}

time {
    font-size: 10px;
}

/* Mobile CSS */
.logomobile, .menu, .contact, .overlaynav, .mobile-hi, .mobile-name, .arrow {
    display: none;
}