/* Color scheme and fonts */
:root {
    --white: #ffffff;
    --light-beige: #FDEFE6;
    --brown: #BA936F;
    --dark-grey: #343434;
    --title-font: Kanit;
    --text-font: DM Sans;
}

@media only screen and (min-width: 900.99px) {
* {
    box-sizing: border-box;
    margin: 0;
    font-size: 14px;
    font-family: var(--text-font);
}


nav {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    padding: 10px 30px 10px 30px;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    /* background-color: peachpuff; */
    
}

.logo {
    width: 50px;
    height: 50px;
    cursor: pointer;
    /* background-color: pink; */
}

.logomobile, .menu, .contact {
    display: none;
}

.overlaynav {
    display: none;
}

nav ul {
    list-style: none;
    overflow: hidden;
    cursor: pointer;
}

nav li {
    display: inline;
    margin-inline: 50px;
    font-weight: bold;
    font-family: var(--title-font);
    font-size: 30px;
    /* background-color: beige; */
}

nav li a {
    text-decoration: none;
    color: var(--brown);
    transition: color 0.4s ease;
}

nav li a:hover {
    color: var(--dark-grey);
    border-bottom: 2px solid var(--dark-grey);

}

.darkmode {
    font-size: 30px;
    font-weight: bolder;
    color: var(--brown);
    cursor: pointer;
    /* background-color: pink; */
}

.darkmode:hover {
    color: #343434;
    transition: color 0.4s ease;
}


main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--light-beige);
}

section {
    padding: 100px;
}

.bg {
    position: relative;
    background-image: url("../../img/background1.jpg");
    padding: 20px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.contact-form-container {
    background-color: var(--light-beige);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 12px rgba(0,0,0,0.2);
    min-width: 400px;
    max-width: 900px;
}

h1 {
    margin-top: 0;
    padding: 20px;
    padding-top: 0px;
    font-size: 3rem;
    font-family: var(--title-font);
    color: var(--brown);
    text-align: center;
    letter-spacing: 2px;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    visibility: hidden;
    font-size: 1px;
}

input, textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px transparent var(--brown);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 4px;
    font-size: 1rem;
}

textarea {
    resize: vertical;
}

.error-message {
    color: red;
    font-size: 0.875rem;
    display: none;
}

form h2 {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: var(--brown);

}

.first-buttons, .last-buttons {
    display: flex;
    justify-content: space-between;
}


.unshift-button, .push-button, .shift-button, .pop-button {
    border: none;
    background: none;
    margin: 10px;
    font-size: 20px;
    color: var(--brown);
}

.unshift-button:hover, .push-button:hover {
    background-color: rgb(125, 209, 125);
    color: white;
    border-radius: 20%;
}

.shift-button:hover, .pop-button:hover {
    background-color: rgb(233, 98, 98);
    color: white;
    border-radius: 20%;
}

form ul {
    margin: 0;
    padding: 0;
}

form ul li {
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background-color: var(--light-beige);
    border-radius: 50px;
    font-size: 12px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}


.moodbox {
    display: flex;
    justify-content: center;
}

.mood-input {
    width: 75%;
    border: none;
    box-shadow: none;
}



.submit-button {
    font-family: var(--title-font);
    font-weight: bold;
    font-size: 1rem;
    color: var(--light-beige);
    background-color: var(--brown);
    border: none;
    padding: 0.75rem;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.submit-button:hover {
    color: var(--light-beige);
    background-color: var(--dark-grey);
    transition: color 0.1s ease;
}

.socials {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    padding: 0;
    animation: socialfade 3s forwards ease;
}

@keyframes socialfade {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

.socials li {
    margin: 20px;
    
}

.socials a {
    text-decoration: none;
    color: var(--brown);

    
}

.socials a i {
    font-size: 3rem;

}

.socials a:hover {
    color: var(--dark-grey);
    transition: color .4s ease;
    transform: scale(2, 0.5);
}



footer {
    position: relative;
    bottom: 0;
    display: flex;
    background-color: var(--white);
    width: 100%;
    padding: 10px 30px 0px 30px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    /* border-top: 2px solid var(--light-beige); */
    /* background-color: yellow; */
}

footer p {
    font-size: 10px;
}

.highlight {
    font-weight: bold;
}

.highlight a:link {
    text-decoration: none;
    font-size: 11px;
    color: var(--brown);
}

.highlight a:visited {
    color: var(--dark-grey);
}

.highlight a:hover {
    color: var(--dark-grey);
    transition: color 0.4s ease;
}

footer div {
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer div img {
    width: 50px;
    height: 50px;
}

.footer-copyright {
    position: relative;
    font-size: 8px;
    bottom: 5px;
}

time {
    font-size: 10px;
}


}