/* Color scheme and fonts */
:root {
    --white: #ffffff;
    --light-beige: rgb(253, 239, 230);
    --brown: rgb(186, 147, 111);
    --dark-grey: #343434;
    --dark-brown: #342A21;
    --dark-darkbrown: #2d241c;
    --title-font: Kanit;
    --text-font: DM Sans;
    --funny-font: Fuzzy Bubbles;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-size: 14px;
    font-family: var(--text-font);
}


nav {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    padding: 10px 30px 10px 30px;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    /* background-color: peachpuff; */
    
}

.logo {
    display: inherit;
    cursor: pointer;
    /* background-color: pink; */
}

.logo img {
    width: 50px;
    height: 50px;
}

nav ul {
    list-style: none;
    overflow: hidden;
    cursor: pointer;
    padding: 0;
}

nav li {
    display: inline;
    margin-inline: 50px;
    font-weight: bold;
    font-family: var(--title-font);
    font-size: 30px;
    /* background-color: beige; */
}

nav li a {
    text-decoration: none;
    color: var(--brown);
    transition: color 0.4s ease;
}

nav li a:hover {
    color: var(--dark-grey);
    border-bottom: 2px solid var(--dark-grey);
}

.darkmode {
    font-size: 30px;
    font-weight: bolder;
    color: var(--brown);
    cursor: pointer;
    /* background-color: pink; */
}

.darkmode:hover {
    color: #343434;
    transition: color 0.4s ease;
}

main {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    background: var(--light-beige);
}

section {
    padding: 100px;
}

.bg {
    position: relative;
    background-image: url("../../img/background1.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.contact-form-container {
    background-color: rgb(253, 239, 230, 0.9);
    padding: 50px 100px 50px 100px;
    /* border-radius: 8px; */
    box-shadow: 0 8px 12px rgba(0,0,0,0.2);
    width: 100vw;
    margin: 100px;
    
}

.section-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    /* background-color: yellow; */
}

.form-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0;
    padding-right: 50px;
    text-align: center;
}

.form-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0;
    padding-left: 50px;
    text-align: center;
}

h1 {
    margin-top: 0;
    font-size: 3rem;
    font-family: var(--title-font);
    color: var(--brown);
    text-align: center;
    letter-spacing: 2px;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    visibility: hidden;
    font-size: 1px;
}

input, textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px transparent var(--brown);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 4px;
    font-size: 1rem;
}

textarea {
    resize: vertical;
}

.error-message {
    color: red;
    font-size: 0.875rem;
    display: none;
}

form h2 {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: var(--brown);

}

.first-buttons, .last-buttons {
    display: flex;
    justify-content: space-between;
}


.unshift-button, .push-button, .shift-button, .pop-button {
    border: none;
    background: none;
    margin: 10px;
    padding: 3px 10px;
    font-size: 20px;
    color: var(--brown);
}

.unshift-button:hover, .push-button:hover {
    background-color: rgb(125, 209, 125);
    color: white;
    border-radius: 20%;
}

.shift-button:hover, .pop-button:hover {
    background-color: rgb(233, 98, 98);
    color: white;
    border-radius: 20%;
}

.clearbox {
    display: flex;
    justify-content: center;
}

.clear-button {
    color: var(--brown);
    background-color: var(--light-beige);
    margin: 20px;
    font-weight: 800;
    padding: 5px 10px 5px 10px;
    border: none;
}

.clear-button:hover {
    color: var(--dark-darkbrown);
    /* background-color: white; */
    
}

form ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

form ul li {
    margin: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    width: 75%;
    padding: 12px 0px 12px 0px;
    list-style-type: none;
    font-family: var(--funny-font);
    font-weight: 900;
    color: var(--white);
    background-color: rgba(186, 147, 111, 0.6);
    border-radius: 50px;
    font-size: 14px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#moodBox {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: var(--light-beige);
}

.moodbox {
    display: flex;
    justify-content: center;
    /* background-color: yellow; */
}

.mood-input {
    width: 75%;
    border: none;
    box-shadow: none;
}

.button-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.submit-button {
    font-family: var(--title-font);
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--light-beige);
    background-color: var(--brown);
    padding: 5px 10px 5px 10px;
    border: solid var(--brown);
    border-radius: 10px;
    cursor: pointer;
    /* width: 100%; */
    /* background-color: pink; */
}

.submit-button:hover {
    color: var(--light-beige);
    background-color: var(--dark-brown);
    border: solid var(--dark-darkbrown);
    transition: color 0.1s ease;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
    padding: 0;
    animation: socialfade 3s forwards ease;
    /* background-color: pink; */
}

@keyframes socialfade {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

.socials li {
    margin: 0 50px 0 50px;

}

.socials a {
    text-decoration: none;
    color: var(--brown);
    transition: transform .1s, color .4s ease;
    display: inline-block;

}

.socials a i {
    font-size: 3rem;

}

.socials a:hover {
    color: var(--dark-grey);
    transform: scale(1.5);
}

footer {
    position: relative;
    bottom: 0;
    display: flex;
    background-color: var(--white);
    width: 100%;
    padding: 10px 30px 0px 30px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-top: 2px solid var(--light-beige);
    /* background-color: yellow; */
}

footer p {
    font-size: 10px;
    padding-bottom: 0;
}

footer div span {
    display: inline-block;
}

.footer-left {
    position: relative;
    display: inline-block;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    align-items: start;
    text-align: start;
    justify-content: center;
    height: 40px;
    /* background-color: pink; */
}

.highlight {
    font-weight: bold;
}

.highlight a:link {
    text-decoration: none;
    font-size: 11px;
    color: var(--brown);
}

.highlight a:visited {
    color: var(--dark-grey);
}

.highlight a:hover {
    color: var(--dark-grey);
    transition: color 0.4s ease;
}

footer div {
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer div img {
    width: 50px;
    height: 50px;
}

.footer-copyright {
    position: relative;
    font-size: 10px;
    bottom: 5px;
}

time {
    font-size: 10px;
}

/* Mobile CSS */
.logomobile, .menu, .contact, .overlaynav, .mobile-hi, .mobile-name, .arrow {
    display: none;
}
